<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="authenticationService" class="com.kangdainfo.common.service.impl.AuthenticationServiceImpl" />
    
	<bean id="serviceGetter" class="com.kangdainfo.ServiceGetter" >
		<property name="commonService">
			<ref bean="commonService" />
		</property>	
		<property name="authenticationService">
			<ref bean="authenticationService" />
		</property>	
		<property name="scheduleService">
			<ref bean="scheduleService" />
		</property>			
	</bean>	
		
</beans>
